.item {
  margin: 1rem 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.content {
  text-align: center;
  padding: 1rem;
  width: 80%;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.data {
  width: 20%;
  margin: 0.5rem;
}

.data p {
  word-wrap: break-word;
  margin-left: 10px;
}

@media (max-width: 478px) {
  .item {
    display: block;
  }

  .content {
    text-align: justify;
    padding: 0.5rem;
    width: 90%;
  }

  .content h3 {
    text-align: center;
  }

  .data {
    width: 80%;
    margin: 0.5rem;
  }
}
