.container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
}

@media (max-width: 478px) {
  .container {
    display: block;
  }
}
